.profile-container {
  background-image: url('../../assets/logo.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  min-height: 100vh; 
  padding-top: 20px; 
  background-color: #fce4ec;
}

.profile-card {
  width: 90%; 
  max-width: 400px;
  border-radius: 10px; 
  background-color: #f8bbd0; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 0; 
}


  .profile-card .ant-card-body {
    background-color: #f8bbd0;
      display: flex; 
      flex-direction: column;
     margin-top: 20px;
      padding: 50px; 
      border-radius: 10px; 
    }
    
  
  .profile-card-title {
    color:  #f06292;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-card p {
    color: #000; 
    font-size: 16px;
  }
  
  .profile-card .orders-title {
    margin-top: 20px;
    font-size: 18px;
    color: #f06292;
    font-weight: bold;
  }
  
  .order-card {
    background-color:  #fff;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-loading {
    text-align: center;
    margin-top: 20px;
    color:  #f06292;
  }
  
  .profile-loading p {
    color: #9e9e9e;

  }
  

  