@import './colors.scss';  


body {
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $pink-title;  
}

button {
    background-color: $pink-title; 
    border: none;                  
    padding: 10px 20px;            
    cursor: pointer;            
    font-size: 1rem;               
    border-radius: 5px;           
  
    &:hover {
      background-color: lighten($pink-title, 10%); 
    }
  
    &:focus {
      outline: none;  
    }
  }
